@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}

:root {
    --bg-body: #242f40;
    --bg-shadow: #0D1117;
    --tc-title: #2A77C4;
    --tc-others: #E1E1E1;
    --ff-default: 'Trebuchet MS';
    --ff-title: 'Indie Flower', cursive;
    --ff-others: 'Quicksand', sans-serif;
    --fs-default: medium;
    --fs-big-icon: 5em;
    --fs-title: 2.5em;
    --fs-subtitle: 2em;
    --fs-others: 1.1em;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--bg-body);
    font-family: var(--ff-default);
    font-size: var(--fs-default);
}

h1,
h2,
p,
ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-family: var(--ff-title);
    color: var(--tc-title);
    font-size: var(--fs-title);
}

h2 {
    font-family: var(--ff-title);
    color: var(--tc-others);
    font-size: var(--fs-subtitle);
}

p {
    font-family: var(--ff-others);
    color: var(--tc-others);
    font-size: var(--fs-others);
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: var(--tc-title);
}

a:hover {
    color: var(--tc-others);
}

/* Semantic Tags */
header {
    margin: 0 auto;
    padding: 5px;
    width: 75vw;
    min-height: 10vh;
    max-height: 10vh;
    text-align: center;
}

main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 75vw;
    min-height: 80vh;
    color: var(--tc-others);
}

footer {
    margin: 0 auto;
    position: relative;
    padding: 5px;
    width: 75vw;
    min-height: 10vh;
    max-height: 10vh;
    text-align: center;
    color: var(--tc-others);
}

footer a {
    margin: 10px;
}

footer a:hover > i {
    color: var(--tc-title);
}

/* Boxs */
.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 90%);
    z-index: 1000;
}

/* Custom Styles */
.tc-white {
    color: var(--tc-others);
}
.tc-blue {
    color: var(--tc-title);
}
.ts-big-icon {
    font-size: var(--fs-big-icon);
}
.ts-big {
    font-size: var(--fs-title);
}
.ts-med {
    font-size: 2em;
}

@media screen and (max-width: 640px) {
    header, main, footer {
        width: 90vw;
    }
    article {
        height: 70vh;
        overflow: auto;
    }
    header p {
        font-size: 1em;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: var(--fs-others);
    }
}